.albumSection {
  padding: 20px;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.collapseButton {
  background-color: transparent;
  border: none;
  color: var(--primary-green);
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.albumGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 40px;
}
