.card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-black);
  border-radius: 10px;
  overflow: hidden;
  width: 160px; /* Fixed width */

  height: 235px;
}

.albumImage {
  width: 100%;
  height: 80%; /* Ensure the image maintains aspect ratio */
  border-bottom: 2px solid var(--primary-black); /* Separation between image and content */
}

.cardContent {
  padding: 5px;
  text-align: center;
  background-color: var(--primary-white);
}

.chip {
  background-color: transparent; /* Ensure the background aligns with Figma */
  color: var(--primary-green);
  border: 1px solid var(--primary-green); /* Outline to match the design */
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 10px;
}

.albumName {
  font-family: "Poppins", sans-serif;
  color: var(--primary-white);
  margin-top: 10px;
  font-size: 14px;
}
